@import 'tailwindcss';

@theme {
  --color-primary-100: #fff7f2;
  --color-primary-200: oklch(28.512% 0.0911 25.048);
  --color-secondary: rgb(192, 183, 183);
  --color-tertiary: rgb(0, 0, 255);
  --font-wedding-one: 'Baskervville', cursive;
}
